<template>
    <form id="client-form" @submit="checkForm" action="" method="post">

        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
        <p v-else>
            <!-- NO ERROR: no talk! -->
        </p>

        <p>
            <label for="client-name">Client name</label>
            <input type="text" name="client-name" id="client-name">
        </p>

        <p>
            <label for="client-email">Client email</label>
            <input type="email" name="client-email" id="client-email" placeholder="Enter your email address">
        </p>

        <p>
            <label for="client-telephone-nr">Client telephone number</label>
            <input type="text" name="client-telephone-nr" id="client-telephone-nr" placeholder="Enter your telephone nr.">
        </p>

        <p>
            <label for="client-address">Client address</label>
            <input type="text" name="client-address" id="client-address" placeholder="Enter your address.">
        </p>

        <p>
            <input type="submit" value="Submit">
        </p>

    </form>
</template>

<script>
    export default {
        name: "ClientForm",
        props: ['href'],
        data: function () {
            return {
                client: {},
                errors: []
            }
        },
        mounted: function () {
            this.getClient();
        },
        methods: {
            getClient: function(id){
                axios.get('/api/client/'+id)
                    .then(response => {
                        this.client = response.data
                    })
                    .catch(error => this.getErrors(error))
            },
            checkForm: function () {
                this.errors;
            },
            getErrors: function(error){
                if (error.response) {
                    // The request was made and the server responded with a status code
                    // that falls out of the range of 2xx
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                } else if (error.request) {
                    // The request was made but no response was received
                    // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                    // http.ClientRequest in node.js
                    console.log(error.request);
                } else {
                    // Something happened in setting up the request that triggered an Error
                    console.log('Error', error.message);
                }
                console.log(error.config);
            }
        }
    }
</script>

<style scoped>

</style>
