<template>
    <form id="project-form" @submit="checkForm" action="" method="post">

        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
        <p v-else>
            <!-- NO ERROR: no talk! -->
        </p>

        <p>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" v-model="name">
        </p>

        <p>
            <label for="budget">Budget</label>
            <input type="number" name="budget" id="budget" v-model="budget" min="0">
        </p>

        <p>
            <label for="client">Client</label>
            <select name="client" id="client" v-model="selected">
                <option v-for="client in clients" v-bind:value="client.id">{{ client.name }}</option>
            </select>
        </p>

        <p>
            <input type="submit" value="Submit">
        </p>

    </form>
</template>

<script>
    export default {
        name: "ProjectForm",
        props: [
            'clients',
        ],
        data: function () {
            return {
                project: {},
                projects: [],
                errors: []
            }
        },
        mounted: function () {
            this.getAllClients();
        },
        methods: {
            getAllClients: function(){
                axios.get('/api/all-clients')
                    .then(response => this.clients = response.data)
                    .catch(response => console.log('error: '+ response.data));
            },
            checkForm: function () {

            }
        }
    }
</script>

<style scoped>

</style>
