<template>
    <!--root element-->
    <div id="root-el">
        <div class="card card-default">
            <div class="card-header">
                <div class="heading" v-if="isAdmin">
                    All clients ( with projects )
                </div>
                <div class="heading" v-else>
                    My clients ( with projects )
                </div>
                <div v-if="isAdmin">
                    <a href="/form/add/client">add new client</a> | <a href="/form/add/project">add new project</a>
                </div>
            </div>
            <div class="card-body">
                <div v-for="client in clients" class="mt-3">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h5>
                                    <strong> {{ client.name }} </strong>
                                </h5>
                                <span v-if="isAdmin">
                                <a :href="'/form/edit/client/'+client.id">Edit</a>
                            </span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                            <span>
                                <strong> Email: </strong>
                            </span>
                                <input @keyup.enter="submitChanges" :value="client.email" type="text" class="input-underline">
                                <form-helper v-if="isAdmin"></form-helper>
                            </div>
                            <div class="mt-2">
                            <span>
                                <strong> Tel.Nr.: </strong>
                            </span>
                                <span>
                                <input @keyup.enter="submitChanges" :value="client.telephone_nr" class="input-underline">
                                <form-helper v-if="isAdmin"></form-helper>
                            </span>
                            </div>
                            <div class="mt-2">
                            <span>
                                <strong> Client address: </strong>
                            </span>
                                <span>
                                <input @keyup.enter="submitChanges" :value="client.address" class="input-underline">
                                <form-helper v-if="isAdmin"></form-helper>
                            </span>
                            </div>
                            <div class="mt-3">
                                <strong> Invoices: </strong>
                                <invoices :client="client"></invoices>

                            </div>
                            <div class="mt-3">
                                <strong> Projects: </strong>
                            </div>
                            <div class="mt-2">
                                <projects-list :client="client"></projects-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- external elements: FORMS -->
        <div class="card card-default visibility">
          <div class="card-body">
              <div class="visibility" :class="{ active }">
                  <client-form></client-form>
              </div>
              <div class="visibility" :class="{ active }">
                  <project-form></project-form>
              </div>
          </div>
        </div>
        <!-- end of external elements: FORMS -->

    </div> <!-- end root element -->
</template>

<script src="../clients-list.js"></script>

<style scoped>

    .visibility.active {
        visibility: visible;
    }

    .visibility {
        visibility: hidden;
    }

    .input-underline {
        min-width: 50%;
        margin-top: 1px;
        outline: transparent;
        border: none;
        border-bottom: #1f5cff solid 1px;
    }

    .heading {
        font-size: 1.5rem;
    }

</style>
