<template>
    <div>
        <small>
            <em> this input is editable </em>
        </small>
    </div>
</template>

<script>
    export default {
        name: "FormHelper"
    }
</script>

<style scoped>

</style>
