<template>
    <ol>
        <li v-for="project in client.projects">
            <a :href="'/invoice-pdf/'+client.id+'/'+project.id">print invoice {{ '000'+project.id }}</a>
        </li>
    </ol>
</template>

<script>
    export default {
        name: "Invoices",
        props: ['href', 'client'],
    }
</script>

<style scoped>

</style>
