<template>
        <ol>
            <li class="mt-3" v-for="project in client.projects" :key="project.id">
                <a :href="'/projects/' + project.id">{{ project.name }}</a> |

                <span :isAdmin="isAdmin">
                    <a :href="'/form/edit/project/'+project.id">edit project</a> |
                </span>
                <a :href="'/invoice-pdf/'+client.id+'/'+project.id">print invoice {{ '000'+project.id }}</a>
                <p>
                    {{ project.timetracking.description }}
                </p>
                <div>
                    <span>
                        <strong>
                            Start:
                        </strong>
                    </span>
                    <span>
                        {{ project.timetracking.start }}
                    </span>
                </div>
                <div>
                    <span>
                        <strong>
                            End:
                        </strong>
                    </span>
                    <span>
                        {{ project.timetracking.end }}
                    </span>
                </div>
                <div class="timetracking-edit">
                    <em>
                        <a href="">edit timetracking</a>
                    </em>
                </div>
            </li>
        </ol>
</template>

<script>
    export default {
        name: "ProjectList",
        props: ['href', 'isAdmin', 'client'],
    }
</script>

<style scoped>
    .timetracking-edit a {
        color: #ea0a3b;
    }
</style>
